<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>

      <% if user_signed_in? %>
        <h2>
          <% if current_user.image? %>
            <%= image_tag current_user.image.thumb.url, class: 'top'%>
          <% end %>
        <%= @user.name %>の投稿</h2>
      <% else %>
        <h2><%= @user.name %>さんの投稿</h2>
      <% end %>

        <ul>
          <% @user.contributions.each do |c| %>
            <li>
              <%= link_to c.title , contribution_path(c) %>
                <% if user_signed_in? %>
                  <%= link_to '[Edit]' , edit_contribution_path(c) , class: 'command' %>
                  <%= link_to '[Delete]' ,
                  contribution_path(c) ,
                  method: :delete ,
                  class: 'command' ,
                  data: { confirm: '本当に削除しますか？' } %>
                <% end %>
            </li>
          <% end %>
        </ul>

    </section>
  </aside>
</div>
