<%= form_for @contribution do |f| %>

  <%= f.label :"ジャンル" %><br>
  <%= f.collection_select :option_id, Option.all, :id, :category %>

    <p>
        <%= f.text_field :title , placeholder: '小説タイトル' %>
        <% if @contribution.errors.messages[:title].any? %>
        <span class="error"><%= @contribution.errors.messages[:title][0] %></span>
        <% end %>
    </p>
    <p>
        <%= f.text_area :body , placeholder: '小説本文'  %>
        <% if @contribution.errors.messages[:body].any? %>
        <span class="error"><%= @contribution.errors.messages[:body][0] %></span>
        <% end %>
    </p>
    <p>
        <%= f.hidden_field :user_id, value: current_user.id  %>
    </p>
    <p>
        <%= f.submit(['Write']) %>
    </p>
  <% end %>
