<!DOCTYPE html>
<html>
  <head>
    <%= analytics_init if Rails.env.production? %>
    <meta name="viewport" content="width=360,initial-scale=1">
    <link rel="stylesheet" href="application.scss" media="screen and (min-width:1440px)">
    <link rel="stylesheet" href="application.scss" media="screen and (min-width:1024px) and (max-width:1439px)">
    <link rel="stylesheet" href="application.scss" media="screen and (min-width:768px) and (max-width:1023px)">
    <link rel="stylesheet" href="application.scss" media="screen and (min-width:375px) and (max-width:767px)">
    <link rel="stylesheet" href="application.scss" media="screen and (min-width:320px) and (max-width:374px)">

    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115071122-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115071122-1');
</script>

    <title>フリー小説投稿サイト-Novels-</title>
    <meta name="description" content="">
    <meta name="keywords" content="フリー小説投稿サイト-Novels- , 小説投稿サイト , novels , 小説 , 投稿">

  </head>

  <body>
    <div id="header">
      <h1>フリー小説投稿サイト-Novels-</h1>
    </div>

     <div id="mainArea">
       <div id="headerlink">
         <nav>
           <% if user_signed_in? %>
              <strong><%= "-ようこそ、" + current_user.name + "さん-"  %></strong>
                <%= link_to 'Profile' , current_user , id: 'link' %>
                <%= link_to 'Profile changes' , edit_user_registration_path , id: 'link' %>
                <%= link_to 'Log out' , destroy_user_session_path ,  method: :delete %>
            <% else %>
               <strong><%= "-ようこそ、ゲストさん!-"  %></strong>
                <%= link_to 'Sign up' , new_user_registration_path , id: 'link' %>
                <%= link_to 'Log in' , new_user_session_path  %>
            <% end %>
         </nav>
       </div>

       <div class="container">
         <%= link_to image_tag('book.png' , class: 'book') , root_path %>
       </div>
       <div class="container">
        <%= yield %>
       </div>
     </div>

     <div id="menuBar">
       <ul>
        <div id="button">
          <p2>ジャンル</p2>
          <li><%= button_to 'ファンタジー' , fantasy_show_path , method: :get , class: 'categry' %></li>
          <li><%= button_to '      バトル      ' , battle_show_path , method: :get , class: 'categry' %></li>
          <li><%= button_to '　　 S F 　　' , scifi_show_path , method: :get , class: 'categry' %></li>
          <li><%= button_to '      ホラー      ' , horror_show_path , method: :get , class: 'categry' %></li>
          <li><%= button_to '  ミステリー  ' , mystery_show_path , method: :get , class: 'categry' %></li>
          <li><%= button_to '       恋  愛       ' , love_show_path , method: :get , class: 'categry' %></li>
          <%= button_to '      その他      ' , another_show_path , method: :get , class: 'categry' %>
        </div>
        </ul>
     </div>

     <div id="footer">
       <%= link_to 'お問い合わせフォーム' , contact_index_path %>
     </div>

 </body>
</html>
